.filters-box {
  list-style: none;
  position: absolute;
  margin-left: 8%;
  margin-top: -30px;
  display: flex;
  align-items: center;
}

.filters-box li {
  margin-right: 10px;
}

.filters-box a {
  padding: 10px;
  display: flex; 
  align-items: center; 
}

.filters-box li {
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  align-items: center; 
  margin-left: 10px;
}

.search-box-container {
  display: flex;
  align-items: center; 
}

.search-box {
  background-color: white;
  width: 200px;
  height: 20px;
  display: flex;
  align-items: center;
  border: none;
  padding: 0 10px; 
  border-radius: 10px;

}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
}



.dropdown{
  top:100%;
  left: 0;
  position: absolute;
  z-index: 10;

  background-color: white;
  border-radius: 5px;
  color: black;
}
.dropdown ul{
  padding:0;
  margin: 0;
}
.dropdown li{
  margin: 0;
  padding: 3px 0px;
  list-style: none;
}

.dropdown li:hover{
  background-color: #b22222;
  color: white;
  border-radius: 5px;
}


.genres ul{
  padding: 0px;
  margin:0px;
}

.filter-icon:hover ,.search-icon:hover,.sort-icon:hover{
  color: #b22222;
}