nav li,a{
    display: inline;
    list-style: none;
    padding: 5px;
    font-size: 20px;
    color:white;
    text-decoration: none;
    position: relative;
    
}
nav{
    text-align: center;
    top: 0;
    padding:20px;
    height: 20vh;
    background-color: #333;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    width: 0; /* Start with no width */
    height: 2px; /* Set the height and color of the underline */
    background-color: white;
    transform: translateX(-50%); 
    transition: width 0.5s; /* Add a transition for the width property */
}

a:hover::before {
    width: 100%; /* Grow the width to match the size of the text on hover */
}