main{
    animation: fade-up 1.5s linear;
    padding: 20px;
    margin: -120px auto;
    max-width: 1600px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap:50px;
}

.background{
    background-color: #E5E5E5;
    height: 100vh;
}